<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<header>
  <h1>Books</h1>
  <nav>
    <ul>
       <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#">Authors</a>
      </li>
    </ul>
  </nav>
</header>

</body>
</html>