<!DOCTYPE html>
<html>
<head>
  <title>New</title>
</head>
<body>
  <header>
    <h1>New Entry</h1>
 
  </header>
  <main>
    <form action="/book/new" method="POST">
      <input type="text" value="Author" name="author">
      <input type="text" placeholder="Title" name="title">
      <button type="submit">Submit</button>
    </form>
  </main>


</body>
</html>