<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<header>
  <h1>this is words and stuff</h1>
  <nav>
    <ul>
      <li>
        <a href="#">Authors</a>
      </li>
      <br>
      <li>
        <a href="/books/books">Books</a>
      </li>
    </ul>
  </nav>
</header>


</body>
</html>